In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import matplotlib.pyplot as plt
import seaborn as sns

print("Библиотеки успешно загружены")

Библиотеки успешно загружены

In [4]:
# Загрузка данных
train_df = pd.read_csv('../data/train.csv')
test_df = pd.read_csv('../data/test.csv')

print("Данные успешно загружены")
print(f"Размер train данных: {train_df.shape}")
print(f"Размер test данных: {test_df.shape}")
print(f"\nКолонки train: {list(train_df.columns)}")
print(f"Колонки test: {list(test_df.columns)}")

Данные успешно загружены
Размер train данных: (8693, 14)
Размер test данных: (4277, 13)

Колонки train: ['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name', 'Transported']
Колонки test: ['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name']

In [12]:
# Первые 5 строк
print("TRAIN.CSV - ПЕРВЫЕ 5 СТРОК:")
display(train_df.head())

print("TEST.CSV - ПЕРВЫЕ 5 СТРОК:")
display(test_df.head())

TRAIN.CSV - ПЕРВЫЕ 5 СТРОК:

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

TEST.CSV - ПЕРВЫЕ 5 СТРОК:

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [13]:
# Анализ пропущенных значений в train
print("ПРОПУЩЕННЫЕ ЗНАЧЕНИЯ В TRAIN.CSV:")
missing_train = train_df.isnull().sum()
print(missing_train[missing_train > 0])

# Анализ пропущенных значений в test
print("ПРОПУЩЕННЫЕ ЗНАЧЕНИЯ В TEST.CSV:")
missing_test = test_df.isnull().sum()
print(missing_test[missing_test > 0])

ПРОПУЩЕННЫЕ ЗНАЧЕНИЯ В TRAIN.CSV:
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
dtype: int64
ПРОПУЩЕННЫЕ ЗНАЧЕНИЯ В TEST.CSV:
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [25]:
# Создаем копии данных
train_filled = train_df.copy()
test_filled = test_df.copy()

# Заполняем пропуски в TRAIN данных
print("Заполнение пропусков в TRAIN данных:")
for col in train_filled.columns:
    if train_filled[col].isnull().sum() > 0:
        if train_filled[col].dtype == 'object':  # Категориальные признаки
            # Заполняем модой (самое частое значение)
            cabin_mode = train_filled[col].mode()[0]
            train_filled[col].fillna(cabin_mode, inplace=True)
            print(f"  {col}: заполнен модой ({cabin_mode})")
        else:  # Числовые признаки
            # Заполняем медианой
            age_median = train_filled[col].median()
            train_filled[col].fillna(age_median, inplace=True)
            print(f"  {col}: заполнен медианой ({age_median:.2f})")

print("\nЗаполнение пропусков в TEST данных:")
# Заполняем пропуски в TEST данных
for col in test_filled.columns:
    if test_filled[col].isnull().sum() > 0:
        if test_filled[col].dtype == 'object':  # Категориальные признаки
            # Заполняем модой (самое частое значение)
            cabin_mode = test_filled[col].mode()[0]
            test_filled[col].fillna(cabin_mode, inplace=True)
            print(f"  {col}: заполнен модой ({cabin_mode})")
        else:  # Числовые признаки
            # Заполняем медианой
            age_median = test_filled[col].median()
            test_filled[col].fillna(age_median, inplace=True)
            print(f"  {col}: заполнен медианой ({age_median:.2f})")

# Показываем, что пропуски были заполнены
print("\nРезультат заполнения:")
print("Пропуски в TRAIN после заполнения:", train_filled.isnull().sum().sum())
print("Пропуски в TEST после заполнения:", test_filled.isnull().sum().sum())

Заполнение пропусков в TRAIN данных:
  HomePlanet: заполнен модой (Earth)
  CryoSleep: заполнен модой (False)
  Cabin: заполнен модой (G/734/S)
  Destination: заполнен модой (TRAPPIST-1e)
  Age: заполнен медианой (27.00)
  VIP: заполнен модой (False)
  RoomService: заполнен медианой (0.00)
  FoodCourt: заполнен медианой (0.00)
  ShoppingMall: заполнен медианой (0.00)
  Spa: заполнен медианой (0.00)
  VRDeck: заполнен медианой (0.00)
  Name: заполнен модой (Alraium Disivering)

Заполнение пропусков в TEST данных:
  HomePlanet: заполнен модой (Earth)
  CryoSleep: заполнен модой (False)
  Cabin: заполнен модой (G/160/P)
  Destination: заполнен модой (TRAPPIST-1e)
  Age: заполнен медианой (26.00)
  VIP: заполнен модой (False)
  RoomService: заполнен медианой (0.00)
  FoodCourt: заполнен медианой (0.00)
  ShoppingMall: заполнен медианой (0.00)
  Spa: заполнен медианой (0.00)
  VRDeck: заполнен медианой (0.00)
  Name: заполнен модой (Berta Barnolderg)

Результат заполнения:
Пропуски в TRAIN после заполнения: 0
Пропуски в TEST после заполнения: 0

In [31]:
# Пункт 5: Нормализация данных

from sklearn.preprocessing import StandardScaler

# Выбираем числовые столбцы для нормализации
numeric_cols = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
numeric_cols = [col for col in numeric_cols if col in train_filled.columns]

print("Числовые столбцы для нормализации:", numeric_cols)

standard_scaler = StandardScaler()  # Z-оценка (стандартизация)

print("\nНормализация TRAIN данных:")
# StandardScaler
train_standard = train_filled.copy()
train_standard[numeric_cols] = standard_scaler.fit_transform(train_filled[numeric_cols])
print("StandardScaler применен к TRAIN")

print("\nНормализация TEST данных:")
# StandardScaler
standard_scaler_test = StandardScaler()
standard_scaler_test.fit(train_filled[numeric_cols])  # Обучаем на TRAIN данных
test_standard = test_filled.copy()
test_standard[numeric_cols] = standard_scaler_test.transform(test_filled[numeric_cols])
print("StandardScaler применен к TEST")

# Показываем результаты нормализации
print("\n" + "="*50)
print("РЕЗУЛЬТАТЫ НОРМАЛИЗАЦИИ")
print("="*50)

print("\nTRAIN данные после StandardScaler (Z-оценка):")
print(train_standard[numeric_cols].describe().round(3))

print("\nПроверка: Среднее ≈ 0, Стандартное отклонение ≈ 1")
print("StandardScaler - Средние значения:")
print(train_standard[numeric_cols].mean().round(3))

print("\nStandardScaler - Стандартные отклонения:")
print(train_standard[numeric_cols].std().round(3))

# Демонстрация первых строк
print("\n" + "="*50)
print("ПЕРВЫЕ СТРОКИ ПОСЛЕ НОРМАЛИЗАЦИИ")
print("="*50)

print("\nStandardScaler (первые 3 строки):")
display(train_standard[numeric_cols].head(3))

Числовые столбцы для нормализации: ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

Нормализация TRAIN данных:
StandardScaler применен к TRAIN

Нормализация TEST данных:
StandardScaler применен к TEST

==================================================
РЕЗУЛЬТАТЫ НОРМАЛИЗАЦИИ
==================================================

TRAIN данные после StandardScaler (Z-оценка):
            Age  RoomService  FoodCourt  ShoppingMall       Spa    VRDeck
count  8693.000     8693.000   8693.000      8693.000  8693.000  8693.000
mean     -0.000        0.000     -0.000        -0.000     0.000     0.000
std       1.000        1.000      1.000         1.000     1.000     1.000
min      -2.008       -0.333     -0.281        -0.284    -0.271    -0.263
25%      -0.613       -0.333     -0.281        -0.284    -0.271    -0.263
50%      -0.125       -0.333     -0.281        -0.284    -0.271    -0.263
75%       0.572       -0.271     -0.243        -0.247    -0.224    -0.228
max       3.501       21.359     18.402        39.002    19.639    21.017

Проверка: Среднее ≈ 0, Стандартное отклонение ≈ 1
StandardScaler - Средние значения:
Age            -0.0
RoomService     0.0
FoodCourt      -0.0
ShoppingMall   -0.0
Spa             0.0
VRDeck          0.0
dtype: float64

StandardScaler - Стандартные отклонения:
Age             1.0
RoomService     1.0
FoodCourt       1.0
ShoppingMall    1.0
Spa             1.0
VRDeck          1.0
dtype: float64

==================================================
ПЕРВЫЕ СТРОКИ ПОСЛЕ НОРМАЛИЗАЦИИ
==================================================

StandardScaler (первые 3 строки):

        Age  RoomService  FoodCourt  ShoppingMall       Spa    VRDeck
0  0.711945    -0.333105  -0.281027     -0.283579 -0.270626 -0.263003
1 -0.334037    -0.168073  -0.275387     -0.241771  0.217158 -0.224205
2  2.036857    -0.268001   1.959998     -0.283579  5.695623 -0.219796

In [37]:
# Выбираем категориальные столбцы для преобразования
categorical_cols = ['HomePlanet', 'CryoSleep', 'Destination', 'VIP']
categorical_cols = [col for col in categorical_cols if col in train_filled.columns]

print("Категориальные столбцы для преобразования:", categorical_cols)

# Показываем уникальные значения до преобразования
print("\nУникальные значения до OHE:")
for col in categorical_cols:
    print(f"{col}: {train_filled[col].unique()}")

# Применяем One-Hot Encoding с помощью pd.get_dummies()
print("\nПрименение One-Hot Encoding...")

# Для TRAIN данных
train_ohe = pd.get_dummies(train_filled, columns=categorical_cols, drop_first=True)
print("✓ OHE применен к TRAIN данным")

# Для TEST данных (важно использовать те же колонки!)
test_ohe = pd.get_dummies(test_filled, columns=categorical_cols, drop_first=True)
print("✓ OHE применен к TEST данным")

# Выравниваем колонки в test с train (чтобы избежать переобучения)
print("\nВыравнивание колонок TEST с TRAIN...")

# Находим колонки, которые есть в train но нет в test
missing_cols = set(train_ohe.columns) - set(test_ohe.columns)

# Добавляем недостающие колонки в test с значениями 0
for col in missing_cols:
    test_ohe[col] = 0

# Убеждаемся что колонки в том же порядке
test_ohe = test_ohe[train_ohe.columns]
print("✓ Колонки выравнены")

# Показываем результаты преобразования
print("\n" + "="*60)
print("РЕЗУЛЬТАТЫ ONE-HOT ENCODING")
print("="*60)

print(f"Размер TRAIN до OHE: {train_filled.shape}")
print(f"Размер TRAIN после OHE: {train_ohe.shape}")

print(f"\nРазмер TEST до OHE: {test_filled.shape}")
print(f"Размер TEST после OHE: {test_ohe.shape}")

print("\nНовые бинарные колонки (первые 10):")
new_columns = [col for col in train_ohe.columns if any(col.startswith(cat) for cat in categorical_cols)]
print(new_columns[:10])

# Демонстрация преобразованных данных
print("\n" + "="*60)
print("ПРИМЕР ПРЕОБРАЗОВАННЫХ ДАННЫХ")
print("="*60)

print("TRAIN - первые 3 строки после OHE:")
display(train_ohe.head(3))

print("\nКатегориальные колонки преобразованы в бинарные:")
for col in categorical_cols:
    ohe_cols = [c for c in train_ohe.columns if c.startswith(col)]
    if ohe_cols:
        print(f"{col} → {ohe_cols}")

Категориальные столбцы для преобразования: ['HomePlanet', 'CryoSleep', 'Destination', 'VIP']

Уникальные значения до OHE:
HomePlanet: ['Europa' 'Earth' 'Mars']
CryoSleep: [False  True]
Destination: ['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e']
VIP: [False  True]

Применение One-Hot Encoding...
✓ OHE применен к TRAIN данным
✓ OHE применен к TEST данным

Выравнивание колонок TEST с TRAIN...
✓ Колонки выравнены

============================================================
РЕЗУЛЬТАТЫ ONE-HOT ENCODING
============================================================
Размер TRAIN до OHE: (8693, 14)
Размер TRAIN после OHE: (8693, 16)

Размер TEST до OHE: (4277, 13)
Размер TEST после OHE: (4277, 16)

Новые бинарные колонки (первые 10):
['HomePlanet_Europa', 'HomePlanet_Mars', 'CryoSleep_True', 'Destination_PSO J318.5-22', 'Destination_TRAPPIST-1e', 'VIP_True']

============================================================
ПРИМЕР ПРЕОБРАЗОВАННЫХ ДАННЫХ
============================================================
TRAIN - первые 3 строки после OHE:

,PassengerId,Cabin,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_True
0,0001_01,B/0/P,0.711945,-0.333105,-0.281027,-0.283579,-0.270626,-0.263003,Maham Ofracculy,False,1,0,0,0,1,0
1,0002_01,F/0/S,-0.334037,-0.168073,-0.275387,-0.241771,0.217158,-0.224205,Juanna Vines,True,0,0,0,0,1,0
2,0003_01,A/0/S,2.036857,-0.268001,1.959998,-0.283579,5.695623,-0.219796,Altark Susent,False,1,0,0,0,1,1

Категориальные колонки преобразованы в бинарные:
HomePlanet → ['HomePlanet_Europa', 'HomePlanet_Mars']
CryoSleep → ['CryoSleep_True']
Destination → ['Destination_PSO J318.5-22', 'Destination_TRAPPIST-1e']
VIP → ['VIP_True']